.sign-in-out {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 30px auto;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    width: 80%;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}
